@mixin respond($breakpoint) {

    @if $breakpoint==max-1600 {
        @media (max-width: 1600px) {
            @content
        }

        ;
    }

    @if $breakpoint==max-1024 {
        @media (max-width: 1024px) {
            @content
        }

        ;
    }

    @if $breakpoint==max-768 {
        @media (max-width: 768px) {
            @content
        }

        ;
    }

    @if $breakpoint==max-414 {
        @media (max-width: 414px) {
            @content
        }

        ;
    }

    @if $breakpoint==max-375 {
        @media (max-width: 375px) {
            @content
        }

        ;
    }

    @if $breakpoint==max-320 {
        @media (max-width: 320px) {
            @content
        }

        ;
    }

    // @include respond (max-xxx) {

    // }
}